/* Reset & Resources */

:root {
    --clr-white: #fff;
    --clr-primary-300: #2e323f;
    --clr-primary-200: #3b4050;
    --clr-primary-100: #6f737f;
    --clr-accent: #a59678;
    --ff-primary: "Oswald", Helvetica, sans-serif;
    --ff-accent: "Montserrat", Arial, sans-serif;
    --fs-xs: 1rem;
    --fs-sm: 1.125rem;
    --fs-md: 1.313rem;
    --fs-lg: 1.5rem;
    --fs-xl: 1.875rem;
    --fs-xxl: 2.25rem;
    --fs-xxxl: 5.625rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a {
    font-family: var(--ff-primary);
}

h1,
h2 {
    line-height: 1.1;
}

h3,
h4 {
    color: var(--clr-accent);
}

h3 {
    font-size: var(--fs-lg);
    margin-bottom: 1em;
}

p {
    font-family: var(--ff-accent);
    font-size: var(--fs-xs);
    letter-spacing: 0.5px;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

/* Uitility Classes & Reusable Components */

.container {
    width: 85%;
    max-width: 1200px;
    margin: auto;
}

.btn {
    display: inline-block;
    background-color: var(--clr-accent);
    padding: 0.5em 1.5em;
    border-radius: 100vw;
    color: var(--clr-white);
    text-transform: uppercase;
}

.col + .col {
    margin-top: 3em;
}

/* Components */

nav {
    background-color: var(--clr-primary-300);
    padding-block: 1em;
}

.nav__toggle {
    display: flex;
    justify-content: space-between;
}

.nav__visible {
    display: none;
}

.nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 1em;
}

.nav__item a {
    font-family: var(--ff-primary);
    color: #e0e0e2;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.nav__item.btn a {
    color: var(--clr-white);
}

.nav__item + .nav__item {
    margin-top: 2em;
}

.hamburger {
    background-color: #3b4050;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.line {
    background-color: beige;
    border-radius: 5px;
    width: 25px;
    height: 4px;
}

.hero {
    background-color: var(--clr-primary-200);
    min-height: calc(100vh - 66px);
    color: var(--clr-white);
    padding: 2em 0;
}

.hero h1 {
    margin-bottom: 1em;
    font-size: 3.5rem;
}

.hero span {
    color: var(--clr-accent);
}

.hero__p {
    font-size: var(--fs-sm);
    margin-bottom: 1em;
}

.hero a {
    margin-top: 1em;
    font-size: var(--fs-md);
}

.feature {
    background-color: #e0e0e2;
    padding: 4em 0;
    text-align: center;
}

.main {
    padding-block: 4em;
}

.main__title {
    color: var(--clr-accent);
    font-size: var(--fs-xl);
    letter-spacing: 0.8px;
    margin-bottom: 1em;
}

.main p {
    margin-bottom: 2em;
}

.main img {
    margin-bottom: 1em;
}

.main__content p {
    font-size: var(--fs-sm);
}

.main__aside {
    margin-top: 3em;
    text-align: center;
    color: var(--clr-white);
}

.main__aside h3 {
    color: var(--clr-white);
}

.main__aside .col {
    background-color: var(--clr-primary-200);
    padding: 2em 1em;
}

.footer {
    background-color: var(--clr-primary-200);
    padding: 4em 0;
    color: var(--clr-primary-100);
}

.footer h2 {
    color: #fff;
    font-size: var(--fs-xxl);
    text-align: center;
    margin-bottom: 1em;
}

.footer h4 {
    font-size: var(--fs-sm);
    margin-bottom: 1em;
}

.footer a {
    color: inherit;
    font-family: var(--ff-accent);
}

.footer li {
    margin-bottom: 1em;
}

.footer__desktop > .col {
    margin-bottom: 3em;
}

/* Animations */

/* Breakpoints */

@media (min-width: 700px) {
    h1,
    h2 {
        line-height: 1;
    }

    p {
        font-size: var(--fs-sm);
        letter-spacing: 0.7px;
    }

    h3 {
        font-size: var(--fs-xl);
        margin-bottom: 0.75em;
    }

    .nav__visible {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .nav .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__list {
        flex-direction: row;
        padding: 0;
    }

    .nav__item + .nav__item {
        margin-top: 0;
    }

    .hero {
        display: grid;
    }

    .hero h1 {
        font-size: var(--fs-xxxl);
    }

    .hero a {
        font-size: var(--fs-lg);
    }

    .main__content p {
        font-size: var(--fs-md);
    }

    .main__title {
        font-size: var(--fs-xxl);
    }

    .footer__desktop > .col {
        margin-bottom: 0;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .nav__item + .nav__item {
        margin-left: 1em;
    }

    .hero__p {
        font-size: var(--fs-md);
    }

    .main__aside {
        display: flex;
        gap: 1em;
    }

    .main__aside p {
        margin-bottom: 0;
    }

    .main__aside .col {
        margin-top: 0;
    }

    .footer h2 {
        font-size: 48px;
    }

    .footer .flex {
        display: flex;
    }

    .footer .flex > * {
        width: 100%;
    }

    .col {
        margin-top: 3em;
    }
}

@media (min-width: 1000px) {
    .flex {
        display: flex;
    }

    .nav__item + .nav__item {
        margin-left: 2em;
    }

    .hero h1 {
        max-width: 55%;
        margin-bottom: 0;
    }

    .hero__p {
        font-size: var(--fs-lg);
    }

    .hero a {
        font-size: var(--fs-xl);
        padding: 0.25em 1.5em;
        margin-top: 0;
    }

    .hero .hero__content {
        align-self: flex-end;
    }

    .feature {
        padding: 6em 0;
    }

    .feature .col + .col {
        margin-top: 0;
        margin-left: 5em;
    }

    .main {
        padding: 8em 0;
    }

    .main .flex {
        justify-content: space-between;
    }

    .main__content {
        width: 57%;
    }

    .main__aside {
        margin-top: 0;
        width: 33%;
    }

    .main__aside .col {
        margin-top: 1em;
        padding: 2em 2em;
    }

    .footer {
        padding: 5em 0;
    }

    .footer h2 {
        font-size: 4rem;
        margin-bottom: 1.5em;
    }

    .footer h4 {
        font-size: var(--fs-lg);
    }

    .footer a {
        font-size: var(--fs-sm);
        font-weight: 100;
    }

    .footer__desktop {
        display: flex;
        justify-content: space-between;
    }

    .footer__desktop > .col {
        width: 35%;
    }

    .footer__desktop > .flex {
        width: 55%;
    }

    .footer .flex {
        justify-content: space-between;
    }

    .footer .flex > * {
        margin-top: 0;
    }
}
